{% extends 'restaurant/base.html' %}

{% block  content %}
<br>
    <div class="container">
       <a href="{% url 'add_food_item' %}" class="btn btn-primary">Add Food Item</a>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 shadow p-4 m-2">

                <h5 class="card-title text-center">Add Dish Category</h5>
                <form action="{% url 'add_dish_category' %}" method="get">
                    {% csrf_token %}

                  <div class="mb-3">
                    <label class="form-label">Enter Dish Category </label>
                    <input type="text" class="form-control" name="dish_category" required>
                  </div>

                  <center><button type="submit" class="btn btn-primary">Add</button></center>
                </form>
              </div>


            <div class="col-lg-5 shadow  m-2" >
             <div class="p-2 input-group ">
                 <form class="d-flex " action="{% url 'restaurant_menu' %}">
                  <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>&nbsp;&nbsp;&nbsp;
                </form>&nbsp;&nbsp;&nbsp;
                 <div class="dropdown ml-3">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'restaurant_menu' %}">Action</a></li>
                    <li><a class="dropdown-item" href="{% url 'restaurant_menu' %}">Another action</a></li>
                    <li><a class="dropdown-item" href="{% url 'restaurant_menu' %}">Something else here</a></li>
                  </ul>
                </div>
             </div>
               <table class="table table-striped">
                  <thead class="bg-warning ">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Menu Name</th>
                      <th scope="col">Action </th>
                    </tr>
                  </thead>
                  <tbody>
                  {% if dish_cat %}
                  {% else %}
                      <h5>No Menu Available</h5>
                  {% endif %}
                  {%  for dish_cat in dish_cat %}
                    <tr>
                      <td>{{ dish_cat.id }}</td>
                      <td>{{ dish_cat.name }}</td>
                      <td>
                        <a href="{% url 'edit_menu_item' id=dish_cat.id %}" class="btn btn-warning">edit</a>
                        &nbsp;
                        <a href="{% url 'delete_menu_item' id=dish_cat.id %}" class="btn btn-danger">delete</a>
                      </td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}