<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.controls:focus {
  border-color: #4d90fe;
}

.title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}
</style>
    <title>Restaurant Registration!</title>
  </head>
  <body>

  {% include 'message.html' %}
  <!--Start Register form -->

  <br><br>
  <div class="container ">
      <div class="card shadow align-center m-auto" style="width: 90%;max-width:650px;">
          <h5 class="card-header text-center">Restaurant Registeration</h5>
          <div class="card-body p-4">
            <h5 class="card-title text-center">Register</h5>
            <form action="{% url 'restaurant_registraion' %}" method="POST">
                {% csrf_token %}

              <div class="mb-3">
                <label for="" class="form-label">Enter Restaurant Name</label>
                <input type="text" class="form-control" name="restaurant_name" required>
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Enter Restaurant Mobile _number</label>
                <input type="text" class="form-control" name="restaurant_mobile_number" required>
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Enter Restaurant Email</label>
                <input type="text" class="form-control" name="restaurant_email" required>
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Enter Restaurant Password</label>
                <input type="password" class="form-control" name="restaurant_password" required>
              </div>

            <div class="mb-3">
            <label for="" class="form-label">Select Restaurant Type</label>
              <select class="form-select" name="restaurant_type" aria-label="Default select example">

                  {% for type in restaurant_type %}
                     <option value="{{ type.id }}">{{ type.type_name }}</option>
                  {% endfor %}
               </select>
            </div>


            <div class="mb-3" id="location">

              </div>



              <div class="mb-3">
                <label for="" class="form-label">Enter Restaurant Address</label>
                <input type="text" class="form-control" name="restaurant_address" required>
              </div>



              <div class="mb-3">
                <label for="" class="form-label">Enter Restaurant City</label>
                <input type="text" class="form-control" name="restaurant_city" required>
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Enter Restaurant State</label>
                <input type="text" class="form-control" name="restaurant_state" required>
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Enter Restaurant Pincode</label>
                <input type="text" class="form-control" name="restaurant_pincode" required>
              </div>

              <center><button type="submit" class="btn btn-primary">Create Account</button></center>
             <center> <div style="margin-top: 7px;"> <small  class="">Already have an Account ?<a class="text-info" style="text-decoration:none;" href="{% url 'user_registraion'%}">Login</a></small></div></center>
            </form>
          </div>
      </div>
  </div>


  <!-- End Navbar -->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <!--AIzaSyCmetLSv46f3rp3poCLxiMEQ9TktKbfyso-->







  <script>

{#        var x = document.getElementById("location");#}
{#        window.onload(getLocation());#}
{#        function getLocation() {#}
{#          if (navigator.geolocation) {#}
{#            navigator.geolocation.getCurrentPosition(showPosition);#}
{#          } else {#}
{#            x.innerHTML = "Geolocation is not supported by this browser.";#}
{#          }#}
{#        }#}
{##}
{#        function showPosition(position) {#}
{#          x.innerHTML = "Latitude: " + position.coords.latitude +#}
{#          "<br>Longitude: " + position.coords.longitude;#}
{#        }#}
{#console.logo("");#}
  </script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>