{% extends 'restaurant/base.html' %}

{% block  content %}
<br>
    <div class="container">
       <button class="btn btn-primary">Add </button>
       <button class="btn btn-warning">Filter</button>
    </div>
    <br>
    <div class="container">
        <div class="row">


            <div class=" shadow  m-2">
               <table class="table table-striped">
                  <thead class="bg-warning ">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Menu Name</th>
                      <th scope="col">etc</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}